html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h2 {
  font-size: 3rem;
  color: #000;
  text-align: left;
  display: inline;
  line-height: 1.4;
  font-family: "Roboto Condensed", sans-serif;

}

.btn {
  text-decoration: none;
  border: 8px solid #333;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {

}

header {
  position: relative;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 150px;
}

.robo {
  display: block;
  width: 100%;
}

p {
  margin-top: 0;
  padding-top: .6rem;
}

body {
  margin: 0;
}

.banner .img-flex {
  display: flex;
}

.banner .img {

}
