html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45em;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}

h2 {
  font-size: 3rem;
  color: #000;
  text-align: left;
  display: inline;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.btn {
  text-decoration: none;
  border: 5px solid #333;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.img-flex {
  display: block;
  width: 100%;
  padding-right: 1.5rem;
}

.robo {
  display: block;
  width: 100%;
}

p {
  margin-top: 0;
  padding-top: .2rem;
  font-size: 1.5rem;
}

body {
  margin: 0;
}

.text-box {
  width: 60%;
}

.img-box {
  width: 35%;
}

.btn-big {
  font-size: 1.5rem;
}
