html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h2 {
  font-size: 4rem;
  color: #000;
}

.btn {
  text-decoration: none;
  border: 8px solid #333;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
}

header {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}
